$light-beige: rgb(246, 225, 195);
$beige: rgb(233, 161, 120);
$brown: rgb(168, 68, 72);
$dark-purple: rgb(122, 62, 101);
$dark-green: rgb(105, 130, 105);
$error-color: rgb(130, 0, 0);
$success-color: rgb(63, 167, 150);
$dark: rgb(51, 44, 57);
$white: rgb(255, 255, 255);

$border-color: rgb(71, 60, 51);
$light-border-color: rgba(71, 60, 51, 0.25);

$border-radius: 8px;
$big-border-radius: 16px;

$transition: .6s